<!doctype html>
<html lang="en">

<head>
  <title>Editar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


  <nav class="shadow-lg pt-0 pb-0 mb-8 navbar navbar-expand-lg navbar-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" id="logo" href="/home">Servicios</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/home">
            <h3> Home </h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">
            <h3> Servicios</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios/usuario">
            <h3> Mis Servicios</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nuevo">
            <h3 style=color:grey>Crear</h3>
          </a>
        </li>
        <li id= "auth" class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">
            <h3>Quienes Somos?</h3>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <form class="form-wrapper">
    <div class="ContenidoFormasCrea">
      <div class="p-3 form-group">
        <label for="exampleInputEmail1">Nombre Servicio</label>
        <input type="email" class="form-control" id="name" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="p-3 form-group">
        <label for="exampleFormControlTextarea1">Descripcion de Servicio</label>
        <textarea id="description" class="form-control" rows="3"></textarea>
      </div>
      <a href="/servicios/usuario" id="editar" type="submit" class="btn btn-primary">Editar</a>
    </div>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=https://code.jquery.com/jquery-3.5.1.min.js></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <div class="foot">
    <div class="shadow-lg p-0 mb-8">
      <footer class="page-footer font-small unique-color-dark pt-4">
        <div class="container">
          <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
              <h5 class="mb-1" style=color:white>Solicita y Trabaja facilmente </h5>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="btn btn-primary" style=color:white>Ingresar Sesión</a>
            </li>
          </ul>
        </div>
        <div class="footer-copyright text-center py-3" style=color:white>© 2020 Copyright:
          <a class="btn btn-link" href="/home"> SuperServicios.com</a>
        </div>
      </footer>
</body>

<script type="text/javascript">
  var servicio = null;

  $.ajax({ url: `/./api/services/service/{{servicioId}}`, method: "GET" }).then(function (data) {
    servicio = data;
    document.getElementById("name").value = servicio.name;
    document.getElementById("description").value = servicio.description;
  });




  $("#editar").on("click", function (e) {
    e.preventDefault();
    var newService = {
      name: $("#name").val(),
      description: $("#description").val(),
      price: 0
    };
    console.log(newService);

    $.post(`/api/services/edit/${servicio._id}`, newService, function (response) {
      if (response) {
        console.log("Post Successful");
      } else {
        console.log("We couldn't post");
      }
    });


    resetTextFields();
  })

  function resetTextFields() {
    $("#name").val("");
    $("#description").val("")
  }

  let auth = $("#auth");

    var result = $.ajax({ url: `/./currentUser`, method: "GET" });

    $.when( result ).done(function ( ans ) {
        if(ans == false) {
          var button = $(`<a class="nav-link" href="/login">`);
          button.append(`<h3>Ingresa</h3>`);
          auth.append(button);
          window.location.href = "/login";
        } else {
          var button = $(`<a class="nav-link" href="/logout">`);
          button.append(`<h3>Logout</h3>`);
          auth.append(button);
        }
    });

  });



</script>


</html>